
/* All style */
:root {
	margin-top: 20px;
	font-family: Times,Times New Roman,Georgia,serif;
  font-size: 16px;
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
}

/* style for form */
form {
  display: block;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  width: 500px;
  margin: 20px auto;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

input[type="text"],
input[type="date"],
input[type="file"] {
  display: block;
  text-align: center; 
  margin: 0 auto; 
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  display: flexbox;
  text-align: justify-content;
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/*style for button*/
input[type="submit"],
button {
  font-size: 15px;
  color: #ffffff;
  padding: 10px 20px;
  background: -moz-linear-gradient(top, #42aaff 0%, #003366);
  background: -webkit-gradient(
      linear, left top, left bottom,
      from(#42aaff),
      to(#003366)
  );
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #003366;
  -moz-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 1px rgba(255,255,255,0.5);
  -webkit-box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 1px rgba(255,255,255,0.5);
  box-shadow:
      0px 1px 3px rgba(000,000,000,0.5),
      inset 0px 0px 1px rgba(255,255,255,0.5);
  text-shadow:
      0px -1px 0px rgba(000,000,000,0.7),
      0px 1px 0px rgba(255,255,255,0.3);
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a,
input[type="submit"]:hover,
button:hover {
  
  background: -moz-linear-gradient(top, #42aaff 0%, #0d5aa7);
  background: -webkit-gradient(
      linear, left top, left bottom,
      from(#42aaff),
      to(#0d5aa7)
  );
}

a,
input[type="submit"]:active,
button:active {
  
  background: -moz-linear-gradient(top, #003366 0%, #42aaff);
  background: -webkit-gradient(
      linear, left top, left bottom,
      from(#003366),
      to(#42aaff)
  );
}
a {
	
	font-size: 12px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#42aaff 0%,
		#003366);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#42aaff),
		to(#003366));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #003366;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.5);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
	display: inline-block;
	text-decoration: none;
}
